# Archivos del sistema y temporales
.DS_Store
Thumbs.db
*.tmp
*.temp
open_lex_edu_temp/

# Multimedia pesada (>100MB)
*.mp4
*.mov
*.avi

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
venv/
.venv/

# Editores e IDEs
.vscode/
.idea/
*.swp
*.swo
